<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>

    <server>
      <id>DemoFeedForLab</id>
      <username>DevOpsDemo946</username>
      <password>ag4qkzucyrmoa7vvglbvbekb3rboxnqybni7d2h4glnleamnnezq</password>
    </server>

  </servers>
</settings>
